@import "../../styles/variables.css";
/* Product Display */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.container,
.title-container,
.text-container > div,
.form,
.text-container {
  margin: 0;
}

.text-container {
  display: grid;
  grid-template-columns: 20% 1fr;
  justify-content: center;
  align-items: center;
}
.text-container > h3 {
  margin-left: 1.5rem;
  text-align: start;
}
.plan-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  padding: 1rem 1.5rem;
  width: 90%;
  border-radius: var(--border-radius);
  background-color: var(--baby-purple);
}

.title-container > h3,
.title-container > p {
  text-align: center;
}

/* Success Display */
.text-success {
  margin: 0;
  text-align: center;
}
.logo-container {
  width: min(20%, 5rem);
  margin: 0 auto;
}
@media screen and (min-width: 36em) {
  .container {
    margin: 0 auto;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text-container > h3 {
    margin-left: 0;
    text-align: center;
  }
  .form {
    padding: 0.5rem;
  }

  .logo {
    width: min(20%, 5rem);
    margin: 0;
  }
  /* Success Display */
  .text-success {
    margin: 0;
    text-align: center;
  }
  .logo-container {
    width: 20rem;
    margin: 0 auto;
  }
}
