.button {
  margin: 0 auto;
}

.card-container {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: repeat(2, min-content);
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--light-purple);
}

.category {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.category-name {
  margin: 0;
}

.check-icon {
  width: 1.5rem;
  margin: 0;
}

.finalized {
  display: flex;
  align-items: center;
  justify-content: center;
}

.finalized-text {
  font-size: 1.2rem;
  font-weight: var(--semibold);
  color: var(--green);
  margin: 0;
  margin-left: 0.5rem;
}

.form {
  /* padding: 1rem; */
  margin: 0;
  overflow: visible;
}
.form > input {
  max-width: 13.5rem;
  text-align: center;
  margin-top: 0;
}
.name {
  margin-top: 0.5rem;
}

.name,
.category {
  text-align: center;
  font-weight: var(--semibold);
}

.photo-container {
  grid-row: 1/3;
  margin: 0;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
}

.photo-profile {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (pointer: fine) {
  .card-container:hover {
    background-color: var(--light-purple);
  }
}

@media screen and (min-width: 36em) {
  .card-container {
    grid-template-columns: 7rem 1fr 14rem;
    grid-template-rows: min-content;
    align-items: center;
    justify-content: start;
    padding: 1rem;
    border-radius: var(--border-radius);
    background: none;
  }

  .photo-container {
    grid-row: 1/2;
    width: 7rem;
    height: 7rem;
  }

  .category-name {
    margin: 0;
    margin-left: 2rem;
  }

  .name,
  .category {
    text-align: start;
    margin: 1rem;
  }
}
