@import '../../../styles/variables.css';

.container-features {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 2.25rem);
}

.div-time,
.div-budget,
.div-agreement,
.div-address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.div-time > h4,
.div-budget > h4,
.div-agreement > h4,
.div-address > h4 {
  margin: 0;
  margin-right: 0.5rem;
}
.div-time > p,
.div-budget > p,
.div-agreement > p,
.div-address > p {
  margin: 0;
}

.div-time > img,
.div-budget > img,
.div-agreement > img,
.div-address > img {
  width: 1.5rem;
  margin: 0 0.7rem 0 0.25rem;
}

.div-budget > img,
.div-agreement > img {
  width: 2rem;
  margin: 0;
  margin-right: 0.5rem;
}

.h4-task {
  margin-bottom: 0;
}

.li-task {
  list-style: inside;
  list-style-type: disc;
}

.ul-task {
  margin: 0;
}
