@import "../../../styles/variables.css";
.background{
    background-color:var(--light-purple);
    width: 100vw;
    height: 100vh;
}

.form {
    margin: 0 auto;
  }
.background{
    background-color: var(--cream);
    width: 100vw;
}
  .container {
    display: grid;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    width: 80vw;
    min-height: calc(100vh - 17rem);
    background-color: var(--light-color);
  }

  .container input{
    width: 100%;
    
  }

  .div_checked label{
margin: 0;
  }
  .checked{
    margin:0;
  }
  
