@import "../../../styles/variables.css";

.form{
  margin:0;
} 

.btn_back button{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
}

.select{
  width: 100%;
  padding: .5rem;
  background-color: var(--baby-purple);
  margin: 0;
  border-radius: var(--border-radius);
}

.div_checked{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin:0;
}

.label_checked{
  margin: 1rem 0;
}

.checked{
  display: inline;
  width: 2rem;
  margin:0;
}