@import "../../styles/variables.css";

.card-container {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "image category"
    "image description"
    "action action";
  column-gap: 1.5rem;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: var(--border-radius);
  background-color: var(--light-purple);
}
.actions {
  grid-area: action;
  margin: 0;
}
.category {
  grid-area: category;
  margin: 0;
}
.description {
  grid-area: description;
  height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon-category {
  grid-area: image;
  margin: 0;
}
.form-container {
  margin: 0;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--light-purple);
}
.invisible {
  display: none;
}
@media (pointer: fine) {
  .card-container:hover,
  .card-container > *:hover {
    background-color: var(--light-purple);
  }
}

@media screen and (min-width: 36em) {
  .card-container {
    grid-template-columns: 7rem 1fr;
    background: none;
    column-gap: 2rem;
    grid-template-areas:
      "image category"
      "image description"
      "image action";
  }
  .actions {
    grid-area: action;
    justify-self: end;
    width: min-content;
    margin: 0;
  }
}
