.container-carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container-carousel > div {
  overflow: hidden;
  margin: 0;
}


.container-carousel > div > div {
  width: 100% !important;
  height: 90vh;
  margin: 0;
  overflow: hidden;
}

.container-carousel > div > div:nth-child(1) {
  /* transform: translateY(-60%) translateX(-33.3333%) scale(0.333333) !important; */
  left: 5% !important;
}

.container-carousel > div > div:nth-child(2) {
  /* transform: translateY(-55%) translateX(-66.6667%) scale(0.666667) !important; */
  left: 40% !important;
  cursor: pointer;
}

.container-carousel > div > div:nth-child(4) {
  /* transform: translateY(-55%) translateX(-33.3333%) scale(0.666667) !important; */
  left: 60% !important;
  cursor: pointer;
}

.container-carousel > div > div:nth-child(5) {
  /* transform: translateY(-60%) translateX(-66.6667%) scale(0.333333) !important; */
  left: 95% !important;
}

.container-info {
  margin: 0;
  padding: 1rem 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-info > img {
  border-radius: 100%;
}

.container-info-text {
  display: flex;
  flex-direction: column;
  height: 65%;
  margin: 0;
  padding: 3rem 4rem;
  overflow: hidden;
  background-color: #D0D6F2;
  border-radius: 3em 3em 0 0;
}

.info-text {
  overflow: hidden;
}

.info-text p,
.info-text h1 {
  cursor: pointer;
}

.info-text p {
  font-size: 1rem;
}

.social-media-links {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.social-links {
  margin: 0;
  display: flex;
  list-style: none;
}

.social-links li {
  margin: 1rem 1rem 0;
  width: 4.5rem;
  overflow: hidden;
}

.social-links img {
  filter: invert(53%) sepia(8%) saturate(4305%) hue-rotate(193deg) brightness(95%) contrast(77%);
}

@media screen and (min-width: 36rem) and (orientation: landscape) {
  .container-carousel > div > div {
    width: 42rem !important;
  }

  .container-info-text {
    gap: 0;
  }

  .social-links li {
    margin: 1rem 1rem 0;
    width: 3rem;
  }

  .social-media-links {
    justify-content: flex-end;
  }
}