@import '../../styles/variables.css';

.container-header {
  width: 100vw;
  height: 5rem;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple);
  overflow: hidden;
}

.logo-header {
  width: 5rem;
}

.container-nav button {
  margin: 1rem;
}

.link-nav {
  margin: 0;
  text-decoration: none;
  color: var(--light-color);
  font-size: max(1.2rem, 1.5vw);
}

@media screen and (min-width: 36em) and (orientation: landscape) {
  .container-header {
    gap: 0;
  }
}
