@import '../../../../styles/variables.css';

.container {
  padding: 2rem 1.5rem;
}

.detail-link {
  text-decoration: none;
}

@media screen and (min-width: 36em) {
  .container {
    padding: 2rem 2.5rem;
  }
}
