@import '../styles/variables.css';

.container {
  position: relative;
  margin: 0;
}
.jobs-container {
  padding: 5rem 1.5rem 3.5rem;
}
.detail-link {
  text-decoration: none;
  margin: 0;
}
