@import "../../styles/variables.css";

.details,
.filter-navigation {
  margin: 0;
}
.filter-navigation {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100vw;
  background-color: var(--baby-purple);
}
.search-input {
  margin: 0;
  width: 80%;
  border-radius: 0;
  border-bottom: 0.15rem solid var(--dark-color);
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  background-color: var(--baby-purple);
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.search-icon,
.filter-icon {
  margin: 0;
  width: 1.5rem;
  height: auto;
  cursor: pointer;
}
.clear-icon {
  margin: 0;
  margin-left: 1rem;
  width: 1.25rem;
  height: auto;
  cursor: pointer;
}
.filter-container {
  position: absolute;
  top: 4rem;
  right: 0;
  margin: 0;
  padding: 0 2rem;
  width: 20rem;
  max-height: 55vh;
  text-align: center;
  box-shadow: 0 0.15rem var(--purple) inset;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--baby-purple);
  z-index: 1;
}
.summary {
  font-weight: var(--semibold);
  cursor: pointer;
}
.filter-item {
  margin: 0;
  max-height: 30vh;
}

.input-radio {
  display: inline;
  width: 1rem;
  margin: 0 0.5rem;
}
.label-radio {
  display: inline;
  margin: 0;
}
.options-radio {
  display: grid;
  grid-template-columns: 2rem minmax(min-content, max-content);
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}
.options {
  margin: 0;
}
.input-number {
  margin: 0;
  border: 0.1rem solid gray;
}
@media (pointer: fine) {
  .options,
  .options * {
    cursor: pointer;
  }
  .options:hover * {
    font-weight: var(--semibold);
  }
}
@media screen and (min-width: 36em) and (orientation: landscape) {
  .filter-navigation {
    padding: 1rem 20vw;
  }
  .filter-container {
    right: 17.5vw;
  }
}
