.container-carousel {
  width: 100vw;
  height: calc((100vh - 13rem));
  overflow: hidden;
  margin: 0 auto;
}

.container-carousel > div {
  overflow: hidden;
  margin: 0;
}


.container-carousel > div > div {
  width: 47rem !important;
  margin: 6rem 0 0;
  height: 100vh;
  overflow: hidden;
}

.container-carousel > div > div:nth-child(1) {
  /* transform: translateY(-60%) translateX(-33.3333%) scale(0.333333) !important; */
  left: 5% !important;
}

.container-carousel > div > div:nth-child(2) {
  /* transform: translateY(-55%) translateX(-66.6667%) scale(0.666667) !important; */
  left: 40% !important;
  cursor: pointer;
}

.container-carousel > div > div:nth-child(4) {
  /* transform: translateY(-55%) translateX(-33.3333%) scale(0.666667) !important; */
  left: 60% !important;
  cursor: pointer;
}

.container-carousel > div > div:nth-child(5) {
  /* transform: translateY(-60%) translateX(-66.6667%) scale(0.333333) !important; */
  left: 95% !important;
}

.container-info {
  margin: 0;
  padding: 1rem 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-info > img {
  border-radius: 100%;
}

.container-info-text {
  height: 70%;
  margin: 1rem 0 0;
  padding: 1rem 2rem;
  overflow: hidden;
  background-color: #D0D6F2;
  border-radius: 3em 3em 0 0;
}

.info-text p,
.info-text h1 {
  cursor: pointer;
}

.social-media-links {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.social-links {
  margin: 0;
  display: flex;
  list-style: none;
}

.social-links li {
  margin: 1rem .7rem 0;
  width: 2.5rem;
}

.social-links img {
  filter: invert(53%) sepia(8%) saturate(4305%) hue-rotate(193deg) brightness(95%) contrast(77%);
}