@import "../../../styles/variables.css";

/* Container */
.container-grid {
  display: grid;
  grid-template-columns: 6rem 1fr max-content;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "image category budget"
    "image address ."
    "image description description";
  align-items: center;
  justify-items: start;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--light-purple);
}

@media (pointer: fine) {
  .container-grid,
  .container-grid * {
    cursor: pointer;
  }
  .container-grid:hover,
  .container-grid > *:hover {
    background-color: var(--light-purple);
  }
}

/* Address */
.address {
  grid-area: address;
  margin: 0;
  margin-bottom: 0.5rem;
}

/* Budget */
.budget {
  grid-area: budget;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding-left: 0.5rem;
  background-color: var(--light-purple);
}
.budget > img {
  display: none;
  height: 2rem;
  margin: 0;
  margin-right: 0.5rem;
}
.budget > p {
  margin: 0;
}
/* Category */
.category {
  grid-area: category;
  margin: 0;
}
/* Description */
.description {
  grid-area: description;
  height: 2.5rem;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Image */
.image {
  grid-area: image;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: auto;
  margin: 0;
  margin-right: 1rem;
}

@media screen and (min-width: 36em) {
  .budget {
    background: none;
  }
  .budget > img {
    display: inline;
  }
  .container-grid {
    grid-template-columns: 7rem 1fr max-content;
    background: none;
  }
  .imagen {
    width: 7rem;
  }
}
