@import "../../styles/variables.css";
/* Container */
.job-offer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.info-container {
  margin: 0;
  width: 100%;
}
/* Photo profile */
.photo-container {
  margin: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  overflow: hidden;
}
.photo-profile {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* User data */
.data-container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}
.user-name {
  margin: 0;
  margin-left: 1rem;
}
.date {
  margin: 0;
}
/* Features */
.container-features {
  display: grid;
  grid-template-columns: 2rem 1fr;
  align-items: center;
  justify-content: start;
}

.div-time,
.div-budget,
.div-agreement,
.div-address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.div-time > h4,
.div-budget > h4,
.div-agreement > h4,
.div-address > h4 {
  margin: 0 0.5rem;
}
.div-time > p,
.div-budget > p,
.div-agreement > p,
.div-address > p {
  margin: 0;
}

.image-time {
  width: 1.25rem;
  margin: 0.5rem auto;
}
.image-address {
  width: 1.5rem;
  margin: 0.5rem auto;
}
.image-agreement {
  width: 2rem;
  margin: 0.5rem auto;
  margin-top: 0;
}
.image-budget {
  width: 2rem;
  margin: 0.5rem auto;
}

/* Application */
.application {
  display: flex;
  align-items: center;
}
.application > h3 {
  margin: 0;
  margin-left: 1rem;
  color: var(--green);
}
.check-icon {
  width: 2.5rem;
  margin: 0;
}

/* Not available */
.not-available {
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  color: var(--light-color);
  background-color: var(--red);
}
