@import "../../styles/variables.css";

@import "../../styles/variables.css";

.container {
    display: flex;
    position:absolute;
    z-index:100;
    top:0;
    left:0;
    background-color: var(--light-color);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width:100vw;
    height:100vh;
}
.container-left{
    height:449px;
    position: relative;
    border-right: 1px solid var(--dark-color);;
}
.container-right{
   height:449px;
}

.img-container{
    position: relative;
    top: 130px;
    padding: 0rem 3rem 3.5rem;
}


.error-container {
  padding: 7rem 3rem 3.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 10px;
}

.error-h3{
    font-size: 5.5em;
}
.error-p1{
    font-size: 1.3em;
}
.container-but{
    height: 100px;
}
.error-button{
    position: relative;
    top: 10px;
    left:184px;
    background-color: var(--green);
}

.link-nav {
    margin: 0;
    text-decoration: none;
    color: var(--light-color);
    font-size: max(1.2rem, 1.5vw);
  }


@media screen and (max-width: 36em) and (orientation: landscape) {
    .container {
      gap: 0;
      display: flex;
      flex-direction: column;
    }
    .container-left{
        height:449px;
        position: relative;
        border-right: none;
    }

}
  
