* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#modalProfile {
  display: none;
}

.showModal {
  padding: 2rem;
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin: auto;
  border-radius: 2rem;
}

header,
footer {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}